

@media (max-width: 1024px) {
  /*.penTitle {
    font-size: 90px;
  }*/

  h2 {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-top: 25vh;
    opacity: 0
    -webkit-animation: h2Appear 4s;
    -moz-animation: h2Appear 4s;
    -o-animation: h2Appear 4s;
    animation: h2Appear 4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-direction: normal;

  }
  body {
    background-image: url('https://static.pexels.com/photos/7477/night-trees-stars.jpg');
    background-size: 300%;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: fixed;
  }

  #startButton {
    font-size: 15px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.5);
    border-radius: 40px;
    padding: 15px 0px;
    width: 240px;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    }


.navbar {
  padding-top: 7vh;
}


  .icon-journal {
    margin:2vh;
    width: 35px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    display: inline;
    opacity: 1;
  }


  .icon-home {
    margin:2vh;
    width:35px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    display: inline;
    opacity: 1;
  }

  .icon-doc-text-inv {
    margin:2vh;
    width: 35px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    display: inline;
    opacity: 1;
  }
  .streamBox {
    text-align: center;
    height: 60vh;
    padding-top: 30vh;
  }
    .textStreamWrapper {
      margin-top: 2%;
    }

    .textStream {
      width: 0%;
      background-color: black;
      opacity: 0;
      font-size: 0px;
      vertical-align: middle;
        height: 0em;
        padding: 3px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: auto;
        overflow:hidden;
        display: inline-block;
        box-sizing: border-box;
        -webkit-animation: textGrow 2s;
        -moz-animation: textGrow 2s;
        -o-animation: textGrow 2s;
        animation: textGrow 2s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        animation-direction: normal;


    }


    @keyframes textGrow {
      0% {
        border: 2px solid #ccc;
      }
      90% {
        font: white transparent;
        border: 2px solid #ccc;
      }
      100% {
        font-size: 1rem;
        opacity: 0.5;
        height: 2em;
      width: 50%;
        color: white;
        border: 1px solid #ccc;
      }
    }

    .textStream:focus {
      width: 22%;
      height: 2em;
      background-color: black;
      opacity: 0.5;
      font-size: 1rem;
      color: white;
      vertical-align: middle;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin: auto;
      display: block;
      -webkit-animation: growLarger 2s;
      -moz-animation: growLarger 2s;
      -o-animation: growLarger 2s;
      animation: growLarger 2s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation-direction: normal;
    }

    @keyframes growLarger {
      100% {
        height: 35vh;
        width: 60%;
        color: white;
        overflow:scroll;
        font-size: 20px;
      }
    }

}

/*body {
  background-image: url('https://static.pexels.com/photos/7477/night-trees-stars.jpg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;

}*/

@font-face {
    font-family: 'aquilinetworegular';
    src: url('./media/AquilineTwo-webfont.eot');
    src: url('./media/AquilineTwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./media/AquilineTwo-webfont.woff') format('woff'),
         url('./media/AquilineTwo-webfont.ttf') format('truetype'),
         url('./media/AquilineTwo-webfont.svg#aquilinetworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


a {
  text-decoration: none;
}


.navbar:hover {
  -webkit-animation: navbarAppear 3s;
  -moz-animation:    navbarAppear 3s;
  -o-animation: navbarAppear 3s;
  animation: navbarAppear 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;

}

.navbar {
  margin-bottom: 2vh;
  padding: 1vh;
  height: 10vh;
  width: 100vw;
  display: block;
  webkit-animation: hoverout 3s;
  -moz-animation:    hoverout 3s;
  -o-animation: hoverout 3s;
  animation: hoverout 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}


@keyframes navbarAppear {
  100% {background-color:rgba(255, 255, 255, 0.05);
        border-bottom: 1px solid rgba(255,255,255, 0.1);
  }
}

@keyframes hoverout {
  0% {
    background-color:rgba(255, 255, 255, 0.05);
          border-bottom: 1px solid rgba(255,255,255, 0.1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
      border-bottom: 1px solid rgba(255,255,255, 0);
  }
}

.titleScreen {
  height: 80vh;
  text-align: center;
  display: block;
}

.titleBox {
  display: block;
  margin: 10vh auto 1vh auto;
}

.penTitle {
  font-family: 'aquilinetworegular';
  letter-spacing: 10px;
  height: 70%;
  width: 100vw;
  color: white;
  opacity: 0;
  text-shadow: 0 0 0 5px rgba(0,0,0,0.5);
  font-size: 100px;
  display: block;
  margin-left: -10px;
  -webkit-animation: smokein 7s;
  -moz-animation:    smokein 7s;
  -o-animation: smokein 7s;
  animation: smokein 7s;
  animation-delay: 1s;

}

@keyframes smokein {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.8;
  }

  80% {
    opacity: 0;
  }
}

.startButtonBox {
  opacity: 0;
  height: 60px;
  width: 300px;
  display: block;
  text-align: center;
  margin: -80px auto 0 auto;
  -webkit-animation: buttonAppear 3s;
  -moz-animation: buttonAppear 3s;
  -o-animation: buttonAppear 3s;
  animation: buttonAppear 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes buttonAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
  /*#startButton {

    font-size: 15px;
    height: 60px;
    border: 3px solid rgba(255, 255, 255, 0.2);;
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0);
    border-radius: 40px;
    padding: 15px 0px;
    width: 60px;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    }*/








.ballonHolder {
  padding: 10vh;
  margin: 20vh 0 20vh 0;
  height: 60vh;
  width: 100vw;
}

#balloon {
  height: auto;
  width: auto;
  display: block;
  margin: 15vh auto;
  opacity: 1;
  -webkit-animation: buttonAppear 2s;
  -moz-animation: buttonAppear 2s;
  -o-animation: buttonAppear 2s;
  animation: buttonAppear 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;

}



/*h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin-top: 25vh;
  opacity: 0
  -webkit-animation: h2Appear 4s;
  -moz-animation: h2Appear 4s;
  -o-animation: h2Appear 4s;
  animation: h2Appear 4s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;

}*/

@keyframes h2Appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.msg {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin-top: 25vh;
  opacity: 0;
  -webkit-animation: h2Appear 6s;
  -moz-animation: h2Appear 6s;
  -o-animation: h2Appear 6s;
  animation: h2Appear 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}

#penultimateMsg {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin-top: 25vh;
  opacity: 0
  -webkit-animation: lastMsgAppear 6s;
  -moz-animation: lastMsgAppear 6s;
  -o-animation: lastMsgAppear 6s;
  animation: lastMsgAppear 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}

#lastMsg {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin-top: 25vh;
  opacity: 0
  -webkit-animation: lastMsgAppear 6s;
  -moz-animation: lastMsgAppear 6s;
  -o-animation: lastMsgAppear 6s;
  animation: lastMsgAppear 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes lastMsgAppear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.1
  }
  100% {
    opacity: 0.8;
  }
}


.msgBox {
  height: 10%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
}

.h3Appear {
  vertical-align: middle;
  -webkit-animation: encFadeIn 3s;
  -moz-animation: encFadeIn 3s;
  -o-animation: encFadeIn 3s;
  animation: encFadeIn 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}


@keyframes encFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;

  }
}


}


.journalBox {
  height: 85vh;
  width: 100vw;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
}

.entryBox {
  width: 15vw;
  height: 15vw;
  font-family: 'Roboto', sans-serif;
  margin: 0 20px 20px 20px;
  /*flex: auto;*/

    display: inline-block;


}

.recordDate {
  font-size: 20px;
  color:white;
  width: 15vw;

}

.recordText {
  padding:2px;
  background-color: rgba(0,0,0,0.5);
  width: 15vw;
  height: 15vw;
  color: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: scroll;
}



@media (min-width: 1025px) {
  body {
    background-image: url('https://static.pexels.com/photos/7477/night-trees-stars.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
  }
  h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-top: 25vh;
    opacity: 0
    -webkit-animation: h2Appear 4s;
    -moz-animation: h2Appear 4s;
    -o-animation: h2Appear 4s;
    animation: h2Appear 4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-direction: normal;

  }

    .icon-journal {
      margin: 0 2vh 0 0;
      width: 53px;
      font-size: 45px;
      color:white;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      display: inline;
      vertical-align: middle;
      opacity: 0;
      webkit-animation: fadeout 3s;
      -moz-animation:   fadeout 3s;
      -o-animation: fadeout 3s;
      animation: fadeout 3s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation-direction: normal;
    }



    .icon-home {
      margin: 0 2vh 0 0;
      width: 53px;
      font-size: 45px;
      color:white;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      display: inline;
      vertical-align: middle;
        opacity: 0;
        webkit-animation: fadeout 3s;
        -moz-animation:   fadeout 3s;
        -o-animation: fadeout 3s;
        animation: fadeout 3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        animation-direction: normal;
      }


    .icon-doc-text-inv {
      margin: 0 0 0 1vh;
      width: 53px;
      font-size: 45px;
      color:white;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      display: inline;
      vertical-align: middle;
      opacity: 0;
      webkit-animation: fadeout 3s;
      -moz-animation:   fadeout 3s;
      -o-animation: fadeout 3s;
      animation: fadeout 3s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation-direction: normal;
    }

    @keyframes fadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    /*.fadein {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
      -webkit-transition: all 3s ease;
      -moz-transition: all 3s ease;
      -ms-transition: all 3s ease;
      -o-transition: all 3s ease;
      transition: all 3s ease;
    }*/

    .icon-journal:hover {
      webkit-animation: fadein 3s;
      -moz-animation:   fadein 3s;
      -o-animation: fadein 3s;
      animation: fadein 3s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation-direction: normal;
  }
  .icon-doc-text-inv:hover {
    webkit-animation: fadein 3s;
    -moz-animation:   fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-direction: normal;
}
.icon-home:hover {
  webkit-animation: fadein 3s;
  -moz-animation:   fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #startButton {

    font-size: 15px;
    height: 60px;
    border: 3px solid rgba(255, 255, 255, 0.2);;
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0);
    border-radius: 40px;
    padding: 15px 0px;
    width: 60px;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    }


  #startButton:hover {
    -webkit-animation: buttonExpand 1s;
    -moz-animation: buttonExpand 1s;
    -o-animation: buttonExpand 1s;
    animation: buttonExpand 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-direction: normal;
  }

  @keyframes buttonExpand {
    100% {
      width: 240px;
      color: rgba(255,255,255,1);
    }
  }
  .streamBox {
    text-align: center;
    height: 60vh;
    padding-top: 20vh;
  }
  .textStreamWrapper {
    margin-top: 2%;
  }

  .textStream {
    width: 0%;
    background-color: black;
    opacity: 0;
    font-size: 0px;
    vertical-align: middle;
  		height: 0em;
  		padding: 3px;
  		border: 1px solid #ccc;
  		border-radius: 3px;
      margin: auto;
      overflow:hidden;
      display: inline-block;
  		box-sizing: border-box;
      -webkit-animation: textGrow 2s;
      -moz-animation: textGrow 2s;
      -o-animation: textGrow 2s;
      animation: textGrow 2s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation-direction: normal;


  }


  @keyframes textGrow {
    0% {
      border: 2px solid #ccc;
    }
    90% {
      font: white transparent;
      border: 2px solid #ccc;
    }
    100% {
      font-size: 1rem;
      opacity: 0.5;
      height: 2em;
    width: 22%;
      color: white;
      border: 1px solid #ccc;
    }
  }

  .textStream:focus {
    width: 22%;
    height: 2em;
    background-color: black;
    opacity: 0.5;
    font-size: 1rem;
    color: white;
    vertical-align: middle;
  	padding: 5px;
  	border: 1px solid #ccc;
  	border-radius: 3px;
    margin: auto;
    display: block;
    -webkit-animation: growLarger 2s;
    -moz-animation: growLarger 2s;
    -o-animation: growLarger 2s;
    animation: growLarger 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-direction: normal;
  }

  @keyframes growLarger {
    100% {
      height: 35vh;
      width: 60%;
      color: white;
      overflow:scroll;
      font-size: 20px;
    }
  }
}
@media(max-width: 375px) {
  .penTitle {
    font-size: 60px;
  }
  .msg {
    font-size: 20px
  }
  #penultimateMsg {
    font-size: 25px;
    opacity: 1;
  }
  #lastMsg {
    font-size: 28px;
    opacity: 1;
  }

}
