body {
  background-image: url('https://static.pexels.com/photos/7477/night-trees-stars.jpg');
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

@font-face {
    font-family: 'aquilinetworegular';
    src: url('./media/AquilineTwo-webfont.eot');
    src: url('./media/AquilineTwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./media/AquilineTwo-webfont.woff') format('woff'),
         url('./media/AquilineTwo-webfont.ttf') format('truetype'),
         url('./media/AquilineTwo-webfont.svg#aquilinetworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


a {
  text-decoration: none;
}

.navbar {
  margin: 2vh;
  padding: 2vh;
  height: 10vh;
  width: 100vw;
  display: block;
}

.titleScreen {
  height: 80vh;
  text-align: center;
  display: block;
}

.titleBox {
  display: block;
  margin: 10vh auto 1vh auto;
}

.penTitle {
  font-family: 'aquilinetworegular';
  letter-spacing: 10px;
  height: 70%;
  width: 100vw;
  color: white;
  opacity: 0;
  text-shadow: 0 0 0 5px rgba(0,0,0,0.5);
  font-size: 100px;
  display: block;
  margin-left: -10px;
  -webkit-animation: smokein 7s;
  -moz-animation:    smokein 7s;
  -o-animation: smokein 7s;
  animation: smokein 7s;
  animation-delay: 1s;

}

@keyframes smokein {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.8;
  }

  80% {
    opacity: 0;
  }
}

.startButtonBox {
  opacity: 0;
  height: 60px;
  width: 120px;
  display: block;
  text-align: center;
  margin: -30px auto 0 auto;
  -webkit-animation: buttonAppear 3s;
  -moz-animation: buttonAppear 3s;
  -o-animation: buttonAppear 3s;
  animation: buttonAppear 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes buttonAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
  button {
    font-size: 30px bold;
    border: 3px solid rgba(255, 255, 255, 0.4);;
    background: rgba(255,255,255,0.2);
    color: #10253C;
    border-radius: 40px;
    padding: 15px 0px;
    width: 120px;
    outline: none;
    }



.icon-certificate {

}



.ballonHolder {
  padding: 10vh;
  margin: 20vh 0 20vh 0;
  height: 60vh;
  width: 100vw;
}

#balloon {
  height: auto;
  width: auto;
  display: block;
  margin: 15vh auto;
  opacity: 1;
  -webkit-animation: buttonAppear 2s;
  -moz-animation: buttonAppear 2s;
  -o-animation: buttonAppear 2s;
  animation: buttonAppear 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;

}



h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  margin-top: 25vh;
  opacity: 0
  -webkit-animation: h2Appear 4s;
  -moz-animation: h2Appear 4s;
  -o-animation: h2Appear 4s;
  animation: h2Appear 4s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;

}

@keyframes h2Appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.msg {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  margin-top: 25vh;
  opacity: 0;
  -webkit-animation: h2Appear 6s;
  -moz-animation: h2Appear 6s;
  -o-animation: h2Appear 6s;
  animation: h2Appear 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}

#penultimateMsg {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  margin-top: 25vh;
  opacity: 0
  -webkit-animation: lastMsgAppear 6s;
  -moz-animation: lastMsgAppear 6s;
  -o-animation: lastMsgAppear 6s;
  animation: lastMsgAppear 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}

#lastMsg {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  margin-top: 25vh;
  opacity: 0
  -webkit-animation: lastMsgAppear 6s;
  -moz-animation: lastMsgAppear 6s;
  -o-animation: lastMsgAppear 6s;
  animation: lastMsgAppear 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes lastMsgAppear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7
  }
  100% {
    opacity: 0.8;
  }
}

.streamBox {
  height: 2vh;
  width: 3vh;
  display: block;
  margin: auto;
  background-color: black;
  -webkit-animation: textGrow 2s;
  -moz-animation: textGrow 2s;
  -o-animation: textGrow 2s;
  animation: textGrow 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes textGrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
    height: 4vh;
    width: 10vh;
  }
}


@media (min-width: 901px) {
  body {
    background-image: url('https://static.pexels.com/photos/7477/night-trees-stars.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
  }

  .fadein {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
  }

  .fadein:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
    .icon-journal {
      margin: 0 2vh 0 0;
      width: 53px;
      font-size: 45px;
      color:white;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      display: inline;
    }


    .icon-home {
      margin: 0 2vh 0 0;
      width: 53px;
      font-size: 45px;
      color:white;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      display: inline;
    }

    .icon-doc-text-inv {
      margin: 0 0 0 1vh;
      width: 53px;
      font-size: 45px;
      color:white;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      display: inline;
    }
  }
}
  @media (max-width: 900px) {

    body {
      background-image: url('https://static.pexels.com/photos/7477/night-trees-stars.jpg');
      height: 100vh;
      width: 100vh;
      background-repeat: no-repeat;
      background-size: 100vh auto;

    }

    .fadein {
      opacity: 1;
    }

    .icon-journal {
      margin: 25px;
      width: 53px;
      font-size: 45px;
      color:white;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      display: block;
    }


    .icon-home {
      margin: 25px;
      width: 53px !important;
      font-size: 45px;
      color:white;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      display: block;
    }

    .icon-doc-text-inv {
      margin: 25px;
      width: 53px !important;
      font-size: 45px;
      color:white;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      display: block;
    }
}
