<div class="navbar">
  <a class="icon-home fadein" ui-sref="home"></a>
  <a class="icon-journal fadein" ui-sref="archive"></a>
</div>

<div class="breathePage">
<div class="balloonHolder">

</div>
<br>
<div>
  <h2 class="msg" ng-show="showMsg1">feel the breathe under your nose...</h2>
  <h2 class="msg" ng-show="showMsg2">just the sensation as air goes in...</h2>
  <h2 class="msg" ng-show="showMsg3">...and goes out.</h2>
  <h2 class="msg" ng-show="showMsg4">now close your eyes and try to focus only on this sensation</h2>
  <h2 class="msg" ng-show="showMsg5">try to keep your eyes closed for just a bit</h2>
  <h2 class="msg" ng-show="showMsg6">your mind will wander...</h2>
  <h2 class="msg" ng-show="showMsg7">just return to your breathe.</h2>
</div>
</div>
