<div class="navbar">
  <a class="icon-home fadein" ui-sref="home"></a>
  <a class="icon-doc-text-inv fadein" ui-sref="archive"></a>
</div>

<div>
  <h2 id="now..." ng-show="!textBox">Now...</h2>
</div>

<div class="streamBox" ng-show="textBox">
<div class="msgBox">
  <h3>{{selectedMsg}}</h3>
</div>
<div class="textStreamWrapper">
<textarea onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" ng-keypress="msgTimer()" class="textStream" placeholder="Whats on your mind?"></textarea>
</div>

</div>
